In [1]:
import pandas as pd

In [2]:
pd.Index

pandas.core.indexes.base.Index

In [3]:
df = pd.DataFrame()

In [4]:
df

Empty DataFrame
Columns: []
Index: []

In [5]:
df = pd.DataFrame(columns=['Name', "Grades"])

In [6]:
df

Empty DataFrame
Columns: [Name, Grades]
Index: []

In [7]:
df['Grades'] = ['A', 'A+', 'C+', 'D']

In [8]:
df

  Name Grades
0  NaN      A
1  NaN     A+
2  NaN     C+
3  NaN      D

In [9]:
df['Name'] = ["Anil", "Bob",'Cat','Dogg']

In [10]:
df

   Name Grades
0  Anil      A
1   Bob     A+
2   Cat     C+
3  Dogg      D

### https://www.youtube.com/playlist?list=PLWuFHho1zKhUJpe9WfSyvrrQrzqDErbmv