In [9]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [10]:
#Read the data in pandas
attr_ds= pd.read_csv("Attribute_DataSet.csv")

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [11]:
# Print the information about the attributes of inp0 and inp1.
print(attr_ds.head())
attr_ds.info()

     Dress_ID    Style    Price  Rating Size  Season NeckLine SleeveLength  \
0  1006032852     Sexy      Low     4.6    M  Summer   o-neck    sleevless
1  1212192089   Casual      Low     0.0    L  Summer   o-neck        Petal
2  1190380701  vintage     High     0.0    L  Automn   o-neck         full
3   966005983    Brief  Average     4.6    L  Spring   o-neck         full
4   876339541     cute      Low     4.5    M  Summer   o-neck    butterfly

        Material FabricType  Decoration Pattern Type  Recommendation
0            NaN    chiffon     ruffles       animal               1
1     microfiber        NaN     ruffles       animal               0
2       polyster        NaN         NaN        print               0
3           silk    chiffon  embroidary        print               1
4  chiffonfabric    chiffon         bow          dot               0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [12]:
dct = {'M': 'Medium',
      'L': 'Large',
      'XL': 'Extra large',
      'free': 'Free',
      'S': 'Small',
      's':'Small',
      'small': 'Small'}
attr_ds.Size = attr_ds.Size.apply(lambda x: dct[x])

In [13]:
attr_ds.Size.value_counts(normalize=True)

Medium         0.356994
Free           0.344468
Large          0.194154
Small          0.075157
Extra large    0.029228
Name: Size, dtype: float64

### Fixing the Rows and Columns

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [14]:
# Column fixing, correcting size abbreviation. count the percentage of each size category in "Size" column.

In [15]:
# Print the value counts of each category in "Size" column.

### Impute/Remove Missing values

In [16]:
# Print the null count of each variables of inp0 and inp1.

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [20]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
dress= pd.read_csv("Dress_Sales.csv")
dress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    int64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(6), int64(12), object(6)
memory usage: 89.9+ KB

In [21]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
dress['09-12-2013'].apply(lambda x: float(x))

ValueError: could not convert string to float: 'Removed'

In [22]:
# Do the required changes in the "Dress Sales" data set to get null values on string values.

#dress['09-12-2013'] = dress['09-12-2013'].apply(lambda x: float(x) if x.isnumeric() else np.NaN)
dress.loc[dress['09-12-2013']== 'Removed',"09-12-2013"] = np.NaN

dress.loc[dress['14-09-2013']== 'removed',"14-09-2013"] = np.NaN

dress.loc[dress['16-09-2013']== 'removed',"16-09-2013"] = np.NaN

dress.loc[dress['18-09-2013']== 'removed',"18-09-2013"] = np.NaN

dress.loc[dress['20-09-2013']== 'removed',"20-09-2013"] = np.NaN

dress.loc[dress['22-09-2013']== 'Orders',"22-09-2013"] = np.NaN

In [ ]:
# Convert the object type columns in "Dress Sales" into float type of data type.

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [23]:
# Print the null percetange of each column of inp1.

percent_missing = dress.isnull().sum() * 100 / dress.shape[0]
missing_df = pd.DataFrame({'Column_Name': dress.columns, 'Percentage_missing': percent_missing})
missing_df[missing_df.Percentage_missing > 40]

           Column_Name  Percentage_missing
26-09-2013  26-09-2013           46.346555
30-09-2013  30-09-2013           53.653445
10-02-2013  10-02-2013           54.070981
10-04-2013  10-04-2013           53.862213
10-08-2013  10-08-2013           53.235908
10-10-2013  10-10-2013           53.235908

In [24]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
dress= dress.drop(["26-09-2013"] , axis= 1)

dress= dress.drop(["30-09-2013"] , axis= 1)

dress= dress.drop(["10-02-2013"] , axis= 1)

dress= dress.drop(["10-04-2013"] , axis= 1)

dress= dress.drop(["10-08-2013"] , axis= 1)

dress= dress.drop(["10-10-2013"] , axis= 1)

In [25]:
dress.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,16-09-2013,18-09-2013,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,3277,3321,3386,3479,3554,3706,3897,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,1878,1985,2106,2454,2710,3258,3911,4277
2,1190380701,6,7,7,7,8,8,9,10,10,10,10,10,11,11,11,11,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,1783,1796,1812,1845,1878,1914,1952,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,1681,1743,1824,1919,2032,2252,2544,2736

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [ ]:
# Create the four seasons columns in inp1, according to the above criteria.
def season(x):
    if x in 'June, July and August':
        return 'Summer'
    elif x in 'September, October and November':
        return 'Autumn'
    elif x in "December, January and February":
        return 'Winter'
    else:
        return 'Spring'

dress.Autumn = 0
for col in dress.columns:
    if '-' in col and int(col.split('-')[1]) in [1,2,12]:
        dress.Autumn +=dress[col]
        
dress.Autumn.sum()

In [26]:
dress['Spring'] = dress.apply(lambda x: int(x['09-04-2013']), axis=1)

dress['Summer'] = dress.apply(lambda x: int(x['29-08-2013']) + int(x['31-08-2013'])+ int(x['09-06-2013'])+ int(x['09-08-2013'])+ int(x['10-06-2013']), axis=1)

dress['Winter'] = dress.apply(lambda x: int(x['09-02-2013']) + int(x['09-12-2013']) + int(x['10-12-2013']), axis=1)

dress['Autumn'] = dress.apply(lambda x: int(x['09-10-2013']) + int(x['14-09-2013'])+ int(x['16-09-2013'])+ int(x['18-09-2013'])+ int(x['20-09-2013'])+ int(x['22-09-2013'])+ int(x['24-09-2013']) + int(x['28-09-2013']), axis=1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
dress.columns

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [ ]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp = pd.merge(left=inp0,right=dress, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp.head()

In [ ]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum()

Print the null count of inp0 to get the idea about the missing values in data set.

In [ ]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.
inp0.isnull().sum()

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [ ]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = inp0[~inp0.Price.isnull()]

inp0 = inp0[~inp0.Season.isnull()]

inp0 = inp0[~inp0.NeckLine.isnull()]

inp0 = inp0[~inp0.SleeveLength.isnull()]

dress = dress[~inp1.Winter.isnull()]

dress = dress[~inp1.Autumn.isnull()]

In [ ]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [ ]:
#correcting the spellings.

In [ ]:
#correcting the Spellings.

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [ ]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.